@model IEnumerable<PlataformaReforco.Models.Atividade>
@{
    ViewData["Title"] = "Atividades";
}

<h1>Atividades</h1>
<a class="btn btn-primary mb-3" asp-action="Create">Criar Nova Atividade</a>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Turma</th>
            <th>Bimestre</th>
            <th>Título</th>
            <th>Data de Criação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var atividade in Model)
        {
            <tr>
                <td>@atividade.Turma.Disciplina - @atividade.Turma.Serie - @atividade.Turma.Turno - @atividade.Turma.Ano</td>
                <td>@atividade.Bimestre</td>
                <td>@atividade.Titulo</td>
                <td>@atividade.DataCriacao.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table> 